.home-body {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 35px;
  height: 85%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 250px;
  height: auto;
  transform: translateX(-7%);
}

.ff-title {
  text-align: center;
  font-size: 52px;
  animation: backInRight;
  animation-duration: 1s;
  margin-bottom: 50px;
  position: relative;
  z-index: 10;

  span {
    font-size: 60px;
    color: #ff3152;
  }
}

.flex-btn-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
}
