.card-decks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-deck {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 10;

  h3 {
    pointer-events: none;
    color: #fff;
  }

  p {
    pointer-events: none;
    color: #212529;
  }

  input[type="radio"] {
    display: none;
  }

  img {
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
}

.card-deck.selected {
  transform: scale(1.05);
}

.card-deck.not-selected {
  transform: scale(0.95);
}

.card-deck-title {
  padding: 10px;
  background-color: #ff3152;
}

.card-deck-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    display: flex;
    font-style: italic;
    font-size: 14px;
    justify-content: flex-end;
  }
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}
