.ff-grid-rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.ff-rooms-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
