html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}

body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
}

.ff-background {
  display: flex;
  flex-direction: column;
  background: #070415;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.ff-grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

img {
  border: none;
  padding: 0.5rem;
  height: 30rem;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.display-none {
  display: none;
}

form {
  width: 100%;
}
