.ff-ranking-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 0 50px 0;
}

.animate__animated.animate__fadeOutUpBig {
  --animate-duration: 7s;
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  padding: 0 50px 0 50px;
}

#chat-messages {
  font-size: 35px;
  margin-bottom: 10px;
  height: 0;
}

#chat-input {
  display: flex;
  align-items: center;
}

#emoji-input {
  display: none;
}

#emoji-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#emoji-panel button {
  font-size: 35px;
  background: transparent;
  border: none;
  position: relative;
  z-index: 10;
}

#send-button {
  display: none;
}
.new-emoji {
  position: relative;
  z-index: 10;
}
