<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div class="ff-container home-container" data-controller="transition">
  <div class="transition transition-1" data-transition-target="elementLeft"></div>
  <div class="text-container">
  <div class="transition transition-2" data-transition-target="elementRight"></div>
  <div class="text-container">
    <h1 class="ff-title-medium
          animate__animated
          animate__bounce header">Welcome!</h1>
    <p>In <span class="fake">Fake</span>Friends, you'll discover who your real friends are. Wait for your
    host to start the game, and then answer some questions about yourself.</p>

    <p>Then, you'll see how well you know your friends... see if you can guess their
    answers, and find out the <span class="fake">Fake</span>Friend!</p>
  </div>

  <p id="copyright">Copyright © <%= Time.zone.now.year %> by <a class="github-link" target="_blank" href="https://github.com/MatiasRoje">Matias Roje</a>.</p>

  <div class="flex-back-link">
    <%= link_to '<< BACK', root_path, data: { action: "click->transition#pressLinkRight" } %>
  </div>

</div>
