<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>




<div class="ff-container home-body" data-controller="transition select-deck">
  <div class="transition transition-1" data-transition-target="elementLeft"></div>
  <div class="transition transition-2" data-transition-target="elementRight"></div>
    <h2 class="ff-title-medium">Host a game</h2>
    <form action="/rooms" method="post">
      <div class="form-group">
        <label>Game Deck:</label>
        <div class="card-decks">
          <label for="devs" class="card-deck" data-select-deck-target="deckButton" data-action="change->select-deck#selectDeck">
          <input type="radio" id="devs" name="room[deck]" value="devs" required>
          <!-- Card content for deck 1 -->
          <%= image_tag "devdeck.jpg", alt:"Developer Deck" %>
          <div class="card-deck-title">
            <h3>Devs</h3>
          </div>
          <div class="card-deck-content">
            <p>FakeFriends but make shorter for developers</p>
            <span>4 questions</span>
          </div>
          </label>
          <label for="fakefriends" class="card-deck" data-select-deck-target="deckButton" data-action="change->select-deck#selectDeck">
          <input type="radio" id="fakefriends" name="room[deck]" value="fakefriends" required>
          <!-- Card content for deck 2 -->
          <%= image_tag "fakefriends-deck.jpg", alt:"Fakefriends Deck" %>
          <div class="card-deck-title">
            <h3>FakeFriends</h3>
          </div>
          <div class="card-deck-content">
            <p>Uncover the truth about about your friendships with this exciting game that promises to reveal the true bonds that connect you and your friends.</p>
            <span>10 questions</span>
          </div>
        </label>
        <!-- Add more card decks here -->
        </div>
      </div>

      <div class="form-group">
        <label for="room_name">room Name:</label>
        <input type="text" id="room_name" name="room[name]", placeholder="Please enter a room name..." required>
      </div>

      <button type="submit" class="ff-btn-form-red">Start game</button>
    </form>

  <div class="flex-back-link">
    <%= link_to "<< BACK", root_path, data: { action: "click->transition#pressLinkRight" } %>
  </div>

</div>
