.alert {
  color: darkgoldenrod;
  border-color: darkgoldenrod;
  margin-top: 20px;
}

.fade-out {
  animation: fadeOut 2s forwards;
  animation-delay: 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
